@import "../../style.scss";
@import "../../Components//Breakpoints.scss";

.profile-page {
  //   border: $debug;
  height: 89vh;
  display: flex;
  justify-content: space-between;

  @include media("<=768px") {
    flex-direction: row;
  }

  .profile-page-right {
    background-image: url("../../assets/login-art.jpg");
    background-size: cover;
    background-position: cover;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

    @include media("<=768px") {
      display: none;
    }

    .profile-backdrop {
      background-color: rgba(0, 0, 0, 0.45);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .profile-logo {
      width: 7rem;
      position: relative;
      margin-bottom: 2rem;
    }

    .profile-logo-text {
      width: 15rem;
      position: relative;
    }
  }

  .profile-page-left {
    margin: 4rem 2rem 2rem 3rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    text-transform: capitalize;
    // border: $debug;

    @include media("<=1024px") {
      margin: 1rem 1.5rem 2rem 1.5rem;
    }

    @include media("<=768px") {
      justify-content: flex-start;
      width: 100%;
      margin: 4rem 1.5rem 1.5rem 1.5rem;
    }

    .avatar-pic {
      width: 10rem;
      align-self: center;
      margin-bottom: 1rem;
      opacity: 0.8;
    }

    h1 {
      font-family: $font;
      font-weight: 500;
      align-self: center;

      span {
        color: $main-color;
      }
    }

    .logout-btn {
      padding: 0.6rem 1rem;
      width: 50%;
      align-self: center;
      margin-top: 4rem;
      border: 2px solid $black-secondary;
      background: $white-secondary;
      font-family: $font;
      font-weight: 500;
      color: $white-secondary;
      background: $black-secondary;
      font-size: 16px;
      cursor: pointer;
      transition: 0.1s all ease-out;

      &:hover {
        filter: brightness(1.4);
      }
    }
  }
}
