@import "../../style.scss";
@import "../../Components/Breakpoints.scss";

.products-wrapper {
  display: flex;
  background: $white-secondary;

  .categories-box {
    width: 20%;
    border-right: 1px solid $border-color;
  }

  .products-box {
    padding-top: 2rem;
    margin: 0 auto;
    width: 80%;

    @include media("<=1024px") {
      width: 100%;
    }
  }
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px $border-color solid;
  background: $white-secondary;
}

.products {
  display: grid;
}

@media only screen and (max-width: 768px) {
  .categories-box {
    display: none;
  }

  .products {
    padding: 2rem 1.2rem 2rem 1.2rem;
    grid-gap: 1.2rem;
    grid-template-columns: 1fr 1fr;
  }

  .toolbar {
    padding: 0 1.2rem;
    border: none;
  }
}

@media only screen and (min-width: 768px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1.5rem;
  }

  .toolbar {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }

  .categories-box {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 1.5rem 2rem 1.5rem 2rem;
  }

  .toolbar {
    padding: 0 2rem 1.5rem 2rem;
  }

  .categories-box {
    display: block;
    // width: 30%;
  }
}
