@import "../../style.scss";
@import "../Breakpoints.scss";

.side-drawer {
  //   border: $debug;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 2;
  width: 100%;

  @include media(">=1024px") {
    display: none;
  }

  .backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .side-drawer-wrapper {
    background: $white-secondary;
    height: 100vh;
    width: 80%;
    position: relative;

    .side-drawer-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 1rem;
      border-bottom: $border-color 1px solid;
      border-right: $border-color 1px solid;

      .logo {
        width: 9rem;
      }

      .close-icon {
        color: rgb(100, 100, 100);
        font-size: 20px;
        cursor: pointer;
      }
    }

    .user-info {
      display: flex;
      //   border: $debug;
      padding: 1.5rem 0.8rem;
      border-bottom: 1px solid $border-color;

      .avatar-pic {
        //   border: $debug;
        width: 3.5rem;
        opacity: 0.6;
        margin-right: 0.7rem;
      }

      .user-info-text {
        margin-top: 5px;
        display: flex;
        flex-direction: column;

        h3 {
          text-transform: capitalize;
        }

        .profile-link {
          p {
            color: $main-color;
            font-size: 14px;
            margin-top: 3px;
            // border: $debug;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .login-signup-side-drawer {
      display: flex;
      //   border: $debug;
      width: 100%;
      padding: 0.5rem 0.4rem;
      position: absolute;
      bottom: 0;
      border-top: 1px solid $border-color;

      .side-drawer-btns {
        width: 50%;
        text-align: center;
        padding: 0.5rem;
        border-radius: 3px;
        font-family: $font-secondary;
        transition: 0.1s all ease-out;
      }

      .side-drawer-login {
        color: $black-secondary;
        margin-right: 0.2rem;
        font-weight: 600;
        border: 2px solid $black-secondary;

        &:hover {
          background: $black-secondary;
          font-weight: 500;
          color: $white-secondary;
        }
      }

      .side-drawer-signup {
        background: $main-color;
        color: $white-secondary;
        margin-left: 0.2rem;

        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }
}
