@import "../../style.scss";
@import "../Breakpoints.scss";

.wishlist-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;

  .wishlist-card-wrapper {
    width: 70%;
    margin-left: 1rem;

    @include media("<=768px") {
      margin: 1rem 1rem;
      width: 100%;
      // border: $debug;
    }

    .wishlist-page-heading {
      margin: 0 0 1.5rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 1rem;
      border-bottom: 1px solid $border-color;
      color: $main-color;

      .wishlist-page-heading-text {
        font-family: $font;
        font-size: 24px;
        font-weight: 500;

        @include media("<=768px") {
          font-size: 21px;
        }
      }

      .wishlist-page-icon {
        font-size: 25px;

        @include media("<=768px") {
          font-size: 22px;
        }
      }
    }

    .wishlist-card {
      box-shadow: 0 6px 42px -11px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      border-radius: 3px;
      border: 1px solid $border-color;
      // border: $debug;

      .wishlist-product-info-wrapper {
        padding: 1.5rem;
        // border: $debug;
        display: flex;
        // align-items: center;

        @include media("<=768px") {
          padding: 0.5rem;
        }

        .wishlist-img-div {
          max-width: 25%;
          margin: auto 0;
          // border: $debug;
          border-radius: 3px 0 0 3px;
          display: flex;
          align-items: flex-start;
          height: auto;
          justify-content: center;

          .wishlist-card-img {
            // border: $debug;
            max-width: 55%;
            border-radius: 3px;

            @include media("<=1024px") {
              max-width: 70%;
            }

            @include media("<=600px") {
              max-width: 80%;
            }
          }
        }

        .wishlist-product-info {
          // border: $debug;
          width: 70%;
          display: flex;
          flex-direction: column;
          // justify-content: space-between;
          margin-left: 1.5rem;

          // @include media("<=500px") {
          //   padding: 0.2rem;
          // }

          .wishlist-brand {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .wishlist-brand-text {
              font-family: $font-secondary;
              font-size: 22px;
              font-weight: 500;
              color: $black-secondary;
              letter-spacing: 0.5px;

              @include media("<=500px") {
                font-size: 16px;
              }
            }

            .wishlist-price-box {
              display: flex;
              align-items: flex-end;
              // border: $debug;

              .wishlist-card-price {
                font-family: $font-secondary;
                font-size: 17px;
                margin-right: 6px;
                font-weight: 500;
                letter-spacing: 0.2px;
                color: $black-secondary;

                @include media("<=500px") {
                  font-size: 14px;
                }
              }
            }
          }

          .wishlist-item-name {
            //   border: $debug;
            font-family: $font;
            font-weight: 400;
            color: #6d6d6d;
            letter-spacing: 0.3px;
            font-size: 19px;
            margin-top: 1rem;

            @include media("<=500px") {
              font-size: 15px;
              margin-top: 0.5rem;
            }
          }

          .wishlist-size {
            // border: $debug;
            display: flex;
            justify-content: space-between;
            margin-top: 2.5rem;
            align-items: center;

            @include media("<=500px") {
              margin-top: 1.25rem;
            }

            .wishlist-size-box {
              // border: $debug;
              display: flex;
              align-items: center;

              .wishlist-size-text {
                font-family: $font-secondary;
                margin-right: 10px;
                letter-spacing: 0.3px;

                @include media("<=500px") {
                  margin-right: 7px;
                  font-size: 13px;
                }
              }

              .wishlist-size-button {
                border: 1px solid #6d6d6d;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 1.7rem;
                width: 1.7rem;
                font-family: $font-secondary;
                border-radius: 50px;
                font-size: 14px;

                @include media("<=500px") {
                  font-size: 10px;
                  height: 1.5rem;
                  width: 1.5rem;
                }
              }
            }
          }
        }
      }
    }

    .wishlist-btn-box {
      // border: $debug;
      display: flex;
      justify-content: space-between;
      border-top: #cccccc 1px solid;

      @include media("<=500px") {
        margin-top: 0.5rem;
      }

      .wishlist-remove-btn {
        width: 30%;
        padding: 10px 0;
        // margin-left: 1rem;
        border-radius: 1px;
        border: none;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-secondary;
        font-size: 18px;
        border-right: 1px #cccccc solid;
        color: $black-secondary;
        opacity: 0.7;
        transition: all 0.1s ease-out;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        &:active {
          filter: brightness(0.9);
        }

        @include media("<=500px") {
          padding: 8px 0;
          font-size: 16px;
          width: 40%;
        }
      }

      .cart-link {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .wishlist-wishlist-btn {
        width: 70%;
        padding: 10px 0;
        border-radius: 1px;
        border: none;
        background: transparent;
        color: $main-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-secondary;
        font-size: 18px;
        opacity: 0.7;
        transition: all 0.1s ease-out;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        &:active {
          filter: brightness(0.9);
        }

        @include media("<=500px") {
          font-size: 16px;
          padding: 8px 0;
        }
      }

      .wishlist-btn-icon {
        margin-right: 8px;
      }

      .wishlist-btn-icon-arrow {
        margin-left: 8px;
        font-size: 21px;
      }
    }
  }
}
