@import "../../style.scss";
@import "../Breakpoints.scss";

.categories {
  padding: 2rem 2rem 1.5rem 2rem;
  position: sticky;
  top: 80px;

  @include media("<=1024px") {
    padding: 2rem 1rem 1.5rem 1rem;
    position: static;
  }

  @include media(">=1234px") {
    padding: 2rem 3rem 1.5rem 3rem;
  }

  .categories-heading-wrapper {
    display: flex;
    // border: $debug;
    align-items: center;
    padding-bottom: 10px;
    // border-bottom: 1px solid $border-color;

    .categories-icon {
      font-size: 24px;
      color: #636363;
      margin-right: 5px;
    }

    .categories-heading {
      font-family: $font;
      // color: #4d4d4d;
      color: #636363;
      font-weight: 500;
      font-size: 21px;
    }
  }

  .categories-list {
    margin-top: 1.5rem;
    // border: $debug;

    .categories-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      cursor: pointer;
      padding: 0.2rem 0.5rem;
      border-radius: 3px;
      transition: all 0.1s ease-out;

      &:hover {
        background: #ececec;
      }

      p {
        font-family: $font;
        font-size: 20px;
        color: $black-secondary;
      }

      .categories-chevron-icon {
        font-size: 22px;
        color: #bfbfbf;
      }

      .categories-chevron-icon-active {
        color: $main-color;
      }
    }

    .category-active {
      p {
        color: $main-color;
        font-weight: 500;
      }
    }
  }
}
