@import "../../style.scss";

.empty-cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  //   border: $debug;
  margin-top: 1.5rem;

  .empty-cart-text {
    // border: $debug;
    display: flex;
    align-items: center;
    color: #929292;

    .empty-cart-icon {
      // border: $debug;
      font-size: 3rem;
      margin-right: 0.8rem;
    }
    h1 {
      font-family: $font;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
  }

  .empty-cart-dots {
    font-size: 30px;
    color: #929292;
    margin-top: 1rem;
  }

  .empty-cart-products-btn {
    button {
      border: 1px solid #a87356;
      padding: 0.6rem 4rem;
      background: $white-secondary;
      border-radius: 2px;
      color: #a87356;
      font-family: $font;
      font-size: 16px;
      font-weight: 500;
      margin-top: 1.5rem;
      cursor: pointer;
      transition: 0.1s all ease-out;

      &:hover {
        filter: brightness(1.1);
      }

      &:active {
        scale: 0.97;
      }
    }
  }
}
