@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //   overflow-y: hidden;
}

$white: #e5e5e5;
$white-secondary: #f7f7f7;
$border-color: #e3e3e3;
$main-color: #8c6049;
$main-color-secondary: #a87356;
$main-black: #101010;
$black-secondary: #1f1f1f;
$debug: 1px solid red;
$padding-mobile: 1.5rem 1.2rem;
$font: "Raleway", sans-serif;
$font-secondary: "Poppins", sans-serif;
